/target/
/logs/
*.log
*.iml
*.download
*.xmi
*.idea
/tmp/
/test-output/
/PDFs
/.idea
/drivers
/reports!/.idea/modules.xml
/reports/
/src/test/resources/test-output/
/*.project
/*.springbeans
*.classpath
*.settings